<% if user_signed_in? %>
  <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
  <%= link_to 'My meetings', meetings_user_path(current_user) %>
<% end %>

<h1>List of meetings</h1>

<% if user_signed_in?  && current_user.organizator?%>
  <%= link_to 'Create new meeting', new_meeting_path %>
<% end %>
<div class="places">
  <% if @meetings.present? %>
    <% @meetings.each do |meeting| %>
      <%= render 'meeting_card', meeting: meeting %>
  <% end %>
  <% else %>
    <p>No meetings yet.</p>
  <% end %>
</div>
